<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.andronedev.meteovuejs"
    versionCode = "11"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->
<preference name="android-targetSdkVersion" value="28" />
  <preference name="phonegap-version" value="cli-8.0.0" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="false" />
 

  <name>MeteoVuejs</name>

  <description>
     Une application version mobile en vuejs
  </description>
  <icon src="icon.png" />
  <splash src="icon.png" platform="ios" width="320" height="480" />
<access origin="*" />
  <author href="https://github.com/andronedev/MeteoVuejs" email="andronedev@gmail.com">
      Andronedev
  </author>

</widget>