html,
body {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://cutewallpaper.org/21/gif-background-hd/1920x1080-Gif-Background-Anime-Anime-Background-Gif-Tumblr-.gif");
    /*https://cutewallpaper.org/21/gif-background-hd/1920x1080-Gif-Background-Anime-Anime-Background-Gif-Tumblr-.gif*/
}

.content {
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 60px;
    opacity: 85%;
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
}

input[type="submit"] {
    margin-left: 10px;
    width: 50px;
    height: 26px;
}

#results {
    display: none;
    width: 50vw;
}

#results div {
    width: 50vw;
    padding: 2px 4px;
    text-align: left;
    border: 0;
    background-color: rgb(49, 45, 45);
}

#results div:hover,
.result_focus {
    background-color: rgb(134, 132, 132) !important;
}